@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(todo.jpg);
  /* background-position: center; */
  background-size: cover;
  /* background-repeat: no-repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
